{% extends "layout.html" %}
{% block content %}
	{% if session.logged_in and session.logged_in >= 2 %} {# i.e. logged in and with non-zero rights #}
		<div class="main-panel">
		{% if entries %}
			<form action="{{ url_for('users') }}" method="post" class="approve-entry">
			{% for entry in entries %}
				<div class="row db-entry">
					User {{ entry.google_id }} <label>Rights</label>
					<select name="req.{{ entry.id }}">
						<option value="0" {% if entry.rights <= 0 %}selected{% endif %}>view</option>
						<option value="1" {% if entry.rights == 1 %}selected{% endif %}>edit</option>
						<option value="2" {% if entry.rights >= 2 %}selected{% endif %}>admin</option>
					</select>
				</div>
			{% endfor %}
				<input type="submit" value="Submit">
			</form>
		{% else %}
			<em>All vacation requests have been approved!</em>
		{% endif %}
		</div>
		<div class="main-panel">
			<form action="{{ url_for('useradd') }}" method="post" class="approve-entry">
				<label id="userIdLabel" for="userId">User Id</label>
			  	<input type="text" id="userId" name="userId">
				<input type="submit" value="Add user">
			</form>
		</div>
	{% endif %}
{% endblock %}